Source: wb-mqtt-zway
Maintainer: Alexey Ignatov <lexszero@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libjsoncpp-dev, libmosquittopp-dev, libmosquitto-dev, libwbmqtt-dev (>= 1.3.3)

Package: wb-homa-zway
Depends: wb-mqtt-zway, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: wb-mqtt-zway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp0, libmosquittopp1, libmosquitto1, libwbmqtt (>= 1.3.3), z-way-server
Description: Wiren Board MQTT bridge for Z-Way stack compatible with WB conventions
