Source: wb-homa-gpio
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libjsoncpp-dev, libmosquittopp-dev, libmosquitto-dev, libwbmqtt-dev (>= 1.3.3)

Package: wb-homa-gpio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp0, libmosquittopp1, libmosquitto1, ucf, libwbmqtt  (>= 1.3.3)
Breaks: wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board Smart Home MQTT generic sysfs GPIO driver compatible with HomA conventions
